/*=============================================
=            MAIN CSS for Pibbles             =
= Author: Aly Cortenoever                     =
=============================================*/
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat&display=swap');

h1 {
  font-family: 'Mate SC', serif;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #F7F3F7;
  color: #0A014F;
}


/* FOOTER */

/*=====  End of MAIN CSS for Pibbles   ======*/